if active
  .header
    button.btn.btn-link.window-collapse
      | Playlist

  if items.length > 0
    table.table.list
      for item in items
        tr(data-cid=item.cid, class=selected === item.cid ? 'info' : '')
          td.name
            a(data-cid=item.cid, class=item.cid)
              if item.has('id3')
                - var id3 = item.get('id3')
                = id3.artist + ' - ' + id3.title
              else
                = item.get('name').replace(/_/g, ' ')
          
          
            if item.get('vote') > 0
              - voteClass = 'upvoted'
            else if item.get('vote') < 0
              - voteClass = 'downvoted'
            else
              - voteClass = ''
            .actions.pull-right(class=voteClass)
              button.vote-up.btn.btn-link(data-cid=item.cid)
                i.icon-plus
              button.vote-down.btn.btn-link(data-cid=item.cid)
                i.icon-minus
              button.remove.btn.btn-link(data-cid=item.cid)
                i.icon-remove
  else
    .nothing
      | No items in playlist.