
.row
  .page-header
    h2
      = dirName

  p.lead
    = path

  if upLink
    .up
      a.btn(href=upLink)
        | Up One Directory

.row

  .directories.span6
    table.table
      thead
        tr
          th
            | Name
          th
            | Created
      tbody
        for directory in directories
          tr.dir
            td
              a.name(href=directory.get('url'))
                = directory.get('name')
            td
              = directory.created()


  .files.span6
    table.table
      thead
        tr
          th
            | Name
          th
            | Created
      tbody
        for file in files
          tr.file(class=file.get('ext'))
            td
              a.name(href=file.get('url'), data-name=file.get('name'), data-url=file.get('url'))
                = file.get('name')
            td
              = file.created()