
.row
  .location.span10
    p.small
      = path

    .page-header
      h2
        = dirName

    .buttons
      .add-all.pull-right
        a.btn
          | Add All

      if upLink
        .up.pull-right
          a.btn(href=upLink)
            | Up One Directory

      
.row

  .directories.span4
    table.table
      thead
        tr
          th.sort(data-sort='name')
            | Name
          th.sort(data-sort='ctime')
            | Created
      tbody
        for directory in directories
          tr.dir
            td
              a.name(href=directory.get('url'))
                = directory.get('name')
            td
              = directory.created()


  .files.span4
    table.table
      thead
        tr
          th.sort(data-sort='ctime')
            | Name
          th.sort(data-sort='ctime')
            | Created
      tbody
        for file in files
          tr.file(class=file.get('ext'))
            td
              a.name(href=file.get('url'), data-name=file.get('name'), data-url=file.get('url'))
                = file.get('name')
            td
              = file.created()